<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">

    <div class="card text-center">

        <div class="card-header bg-dark text-white text-center">
            <h1> BOOKING</h1>
        </div>

        <div class="card-body">
            <form method="post" th:action="@{/droam/saveBooking}">

                <hr/>
                <h3> CUSTOMER</h3>
                <hr/>

                <div class="row">
                    <div class="col-2">
                        <label for="customerName">CUSTOMER NAME</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="customerName" name="customer.customerName"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="customerEmail">CUSTOMER EMAIL</label>
                    </div>
                    <div class="col-2">
                        <input type="email" class="form-control" id="customerEmail" name="customer.customerEmail"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="customerPhone">CUSTOMER PHONE</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="customerPhone" name="customer.customerPhone"/>
                    </div>
                </div>

                <hr/>
                <h3> ADDRESS</h3>
                <hr/>

                <!--Row #1 end-->

                <div class="row">
                    <div class="col-2">
                        <label for="addrLine">ADDRESS LINE</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="addrLine" name="location.addrLine"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="city">CITY</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="city" name="location.city"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="dist">DISTRICT</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="dist" name="location.dist"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="pin">PIN</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="pin" name="location.pin"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="state">STATE</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="state" name="location.state"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="country">COUNTRY</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="country" name="location.country"/>
                    </div>
                </div>

                <hr/>
                <h3> DRONE SHOT</h3>
                <hr/>

                <!--Row #2-->

                <div class="row">
                    <div class="col-2">
                        <label for="droneShotName">DRONE SHOT NAME</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="droneShotName" name="droneShot.droneShotName"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="droneShotPath">DRONE SHOT PATH</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="droneShotPath" name="droneShot.droneShotPath"/>
                    </div>
                </div>
                <!--Row #3-->
                <hr/>
                <!-- Submit Button -->
                <input class="btn btn-success px-5" type="submit" value="ADD"/>
            </form>
        </div>
        <div class="card-footer text-center bg-success text-white" th:if="${message != null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
</body>
</html>